input:focus{
    border: 2px solid green;
    outline: none;
    background-color: blue;
}

.txtName:focus{
    border: 2px solid pink;
    outline: none;
    background-color: blue;
}

input:checked{
    scale: 1.5;
}

.btn1{
    background-color: tomato;
    width: 100px;
    transition: width 3s, linear 1s;
}

.btn1:hover{
    background-color: blue;
    width: 200px;
}

.btn2{
    background-color: green;
    width: 100px;
    transition: ease 1s;
}

.btn2:hover{
    background-color: red;
    width: 200px;
}
